package {{.BasePackage}}.core.handlers;

import {{.BasePackage}}.core.services.SampleDomainService;
import {{.BasePackage}}.interfaces.commands.SampleCommand;
import {{.BasePackage}}.interfaces.dtos.SampleDTO;
import lombok.extern.slf4j.Slf4j;
import org.fireflyframework.cqrs.annotations.CommandHandlerComponent;
import org.fireflyframework.cqrs.command.CommandHandler;
import org.springframework.beans.factory.annotation.Autowired;
import reactor.core.publisher.Mono;

@Slf4j
@CommandHandlerComponent
public class SampleHandler extends CommandHandler<SampleCommand, SampleDTO> {

    @Autowired
    private SampleDomainService domainService;

    @Override
    protected Mono<SampleDTO> doHandle(SampleCommand command) {
        log.info("Handling SampleCommand: {}", command);
        return domainService.process(command);
    }
}
