name: CI
on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop, main]
jobs:
  build-and-test:
    uses: fireflyframework/.github/.github/workflows/go-ci.yml@main
    with:
      go-version: '1.25'
